<p id="notice"><%= notice %></p>

<h1>Wh Material Storages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wh_material_storages.each do |wh_material_storage| %>
      <tr>
        <td><%= link_to 'Show', wh_material_storage %></td>
        <td><%= link_to 'Edit', edit_wh_material_storage_path(wh_material_storage) %></td>
        <td><%= link_to 'Destroy', wh_material_storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wh Material Storage', new_wh_material_storage_path %>
